<section class="content">

  <form class="guest-account" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user[email]" value="guest.user@example.com">
    <input type="hidden" name="user[password]" value="guestguest">

    <button>Visit as Guest User</button>

  </form>

  <ul class="sign-in">

    <h1>Sign In</h1>

      <form action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <li>
          <label for="email">Email</label>
          <input id="email" type="text" name="user[email]">
        </li>

        <li>
          <label for="password">Password</label>
          <input id="password" type="password" name="user[password]">
        </li>

        <%= flash[:errors] %>
        <button>Submit</button>

        <br>
        <br>
        Don't have an account? <a href="/users/new">Sign up.</a>

      </form>

  </ul>

</section>
