<h1>Sign In</h1>


<form action="/session" method="post">

  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">

  <button>Submit</button>

</form>
