<section class="content">

  <ul class="sign-in">

    <h1>Sign In</h1>

      <form action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <li>
          <label for="email">Email</label>
          <input id="email" type="text" name="user[email]">
        </li>

        <li>
          <label for="password">Password</label>
          <input id="password" type="password" name="user[password]">
        </li>

        <%= flash[:errors] %>
        <button>Submit</button>

        <br>
        <br>
        Don't have an account? <a href="/users/new">Sign up.</a>

      </form>

      <%= button_to('Sign in with Guest Account', session_url,
          method: "post", remote: true, data: { user: {email: 'lydia.stepanek@gmail.com', password: 'lydialydia'} }) %>

  </ul>

</section>
