<section class="content">

  <form class="guest-account" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user[email]" value="lydia.stepanek@gmail.com">
    <input type="hidden" name="user[password]" value="lydialydia">

    <button>Visit as Guest User</button>

  </form>

  <ul class="sign-in">
    <h1>Sign Up</h1>
      <%= flash[:errors] %>

        <form action="/users" method="post" enctype="multipart/form-data">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <li>
            <label for="email">Email</label>
            <input id="email" type="text" name="user[email]">
          </li>

          <li>
            <label for="password">Password</label>
            <input id="password" type="password" name="user[password]">
            <br>
          </li>

          <li>
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" name="user[first_name]">
          </li>

          <li>
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" name="user[last_name]">
            <br>
          </li>

          <li>
            <label for="picture">Picture</label>
            <input id="picture" type="file" name="user[picture]">
          </li>

          <br>
          <button>Submit</button>

          <br>
          <br>
          Already a User? <a href="/session/new">Sign in.</a>

        </form>


  </ul>

</section>
