<h1>Sign Up</h1>


<form action="/users" method="post">

  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">
  <br>

  <label for="firstname">Name</label>
  <input id="firstname" type="text" name="user[first_name]">

  <input id="lastname" type="text" name="user[last_name]">

  <button>Submit</button>

</form>
