<div id="header">
<h1>FoodSpending App</h1>
flash[:errors]
</div>

<script>
$(document).ready(function(){
  LsFinalproject.all_food_types = <%= Foodtype.all.to_json.html_safe %>
  LsFinalproject.initialize();
});
</script>

<body>
  <section  class="content group">

  </section>
</body>
