/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 'star-rating' component */
 .starRate {position:relative; margin:20px; overflow:hidden; zoom:1;}
 .starRate ul {width:200px; margin:0; padding:0;}
 .starRate li {display:inline; list-style:none;}
 .starRate a, .starRate b {background:url(img/star_rate.gif) left top repeat-x;}
 .starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
 .starRate a:hover {background-position:left -32px;}
 .starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
 .starRate div b {left:0px; bottom:0px; background-position:left top;}
 .starRate a span {position:absolute; left:-300px;}
 .starRate a:hover span {left:90px; width:100%;}
