/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --- RESET --- */

/*button*/
html, body, header, nav, h1, ul, li, h3,
strong, main, section, img, div, h2, p, a,
form, fieldset, label, input, textarea,
article, footer, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 box-sizing: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
}

button {
  border-radius: 10px;
  background: #ccc;
  padding: 5px;
}

ul {
 list-style: none;
}

a {
  color: #0c0;
}

button:hover, a:hover {
  color: blue;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
  /*background-color: #eee;*/
  background-image: url("the-seduction-green-apples3.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* 'star-rating' component */

.rating {
 unicode-bidi: bidi-override;
 direction: rtl;
 text-align: left;
}

.rating > span {
 display: inline-block;
 position: relative;
 width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* --- HEADER --- */

header {
  background: #098716;
  color: #fff;
  border-bottom: 1px solid #aaa;
  position: relative;
}

.header input {
  color: #000;
  text-align: left;
}

.header-nav {
  margin: auto;
  width: 900px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.header-nav > h3 {
 float: left;
 display: block;
 font-size: 36px;
 padding: 25px;
 border-right: 1px solid #aaa;
}

.header-nav > ul {
 float: right;
 padding: 10px;
 text-align: right;
}

.header-nav li {
 padding: 10px 0px 0px 0px;
 /*position: relative; */
}

.header-nav input[type="text"] {
  font-weight: bold;
  padding: 0 0 5px 0;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 2px;
  width: 200px;
  border: 1px solid #aaa;
}

.header-nav .search-results {
  width: 450px;
  position: absolute;
  top: 100;
  left: 600;
  height: auto;
  background: #fff;
  color: #000;
  display: none;
  text-align: left;
  z-index: 5;
  padding: 10px 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.header-nav .search-results.is-open {
  display: block;
}

.header-nav .search-results nav {
  font-weight: bold;
}

.header-nav .search-results article {
  border-top: 1px solid #aaa;
  padding: 5px 0px;

}

/* --- CONTENT --- */

.content {
  background: #fff;
  width: 900px;
  margin: auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  position: relative;
}

.content-sidebar {
  float: right;
  width: 200px;
  padding: 20px;
}

.content-main {
  float: left;
  width: 620px;
  padding: 20px 20px 20px 19px;
  border-right: 1px solid #aaa;
}

/* --- SIDEBAR --- */

.content-sidebar > h2 {
  font-weight: bold;
  font-size: 36px;
}

.profile-nav {
  margin: 20px 0px 10px 0px;
}

.profile-nav > li {
  border-top: 1px solid #aaa;
  display: block;
  padding: 10px 5px;
  font-weight: bold;
}


/* --- THUMBS --- */

.profile-thumbs {
  width: 200px;
  margin: auto;
}

.profile-thumbs > li {
  float: left;
  margin-bottom: 10px;
}

.thumb > img {
  border: 1px solid #000;
  width: 58px;
  height: 58px;
  border-radius: 5px 5px;
  object-fit: cover;
}

.thumb {
  position: relative;
  display: block;
}

.profile-thumbs > li:nth-of-type(3n+2) {
  margin-right: 10px;
  margin-left: 10px;
}


.thumb:before {
  content: attr(title);
  display: none;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px 5px;
  white-space: nowrap;
  background: #000;
  color: #fff;
  font-size: 12px;
}

.thumb:after {
  content: "";
  display: none;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -10px;
  background: transparent;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-bottom: 0px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.thumb:hover:before,
.thumb:hover:after {
  display:block;
}

/* --- CONTENT MAIN --- */

.content-main .post-item-group {
  /*background: red;*/
}

.content-main {
}

.content-main h1 {
  font-size: 36px;
  text-align: left;
  float: left;
}

#remove-friend, #add-friend{
  font-size: 16px;
  padding: 10px;
  /*float: left;*/
  /*background: red;*/
}

#content-main-a{
  font-size: 16px;
  /*background: red;*/
}

/* --- CONTENT MAIN POSTS --- */

.content-main > li {
  float: left;
  width: 620px;
  margin: 0px 0px 40px 0px;
}

.content-main .post-author-info {
  float: left;
  width: 100px;
}

.content-main #author-image {
  margin: 50px 0px 10px 0px;
  border: 1px solid #000;
  width: 58px;
  height: 58px;
  border-radius: 5px 5px;
  display: block;
  object-fit: cover;
}

.content-main .likes {
  float: right;
  background: #098716;
  border: 5px solid #ccc;
  width: 50px;
  text-align: center;
  height: auto;
  padding: 15px 5px 10px 5px;
  border-radius: 100%;
  display: block;
  color: #fff;
}

.content-main .post-center {
  margin: auto;
  width: 450px;
  /*border: 1px solid #aaa;*/
}

.content-main .post-main {
  border: 1px solid #000;
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
}

.content-main a, h1 {
  display: block;
  margin: 5px;
}

.content-main h1{
  font-weight: bold;
}

.content-main #post-image {
  float: right;
  width: 200px;
  height: auto;
}

.content-main .post-main ul {
  float: left;
}

.content-main .post-main li {
  margin: 2px 0px 0px 0px;
}

.content-main .comments {
  border: 1px solid #000;
  float: right;
  margin: -20px -40px 0px 0px;
  width: 390px;
  background: #eee;
  border-radius: 5px;
  padding: 10px;
}

.content-main #comment-header {
  font-weight: bold;
}

.content-main .comments ul {
  float: left;
}

.content-main .comments ul textarea {
  background: #fff;
  height: 100px;
  border: 1px solid #aaa;
}

.content-main .comments li {
  margin: 2px 0px 0px 0px;
}

/* --- MODAL --- */

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
  background: #eee;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
}

.modal-form > p {
  margin: 0 0 20px 0;
}

.modal-form li {
  list-style: none;
  padding: 5px;
}

.modal-form input[type="text"], input[type="password"], input[type="option"], input[type="decimal"], input[type="number"] {
  border: 1px solid #aaa;
  background: #fff;
  padding: 4px;
}

.modal-form input[type="number"] {
  width: 50px;
}

/* --- SIGN IN/ LOG IN --- */

.sign-in {
  height: 500px;
  border-bottom: 1px solid #aaa;
  padding: 20px;
}

.sign-in h1 {
  font-size: 36px;
}

.sign-in li {
  padding: 5px;
}

.sign-in input[type="text"], input[type="password"] {
  border: 1px solid #aaa;
  padding: 2px;
}

.guest-account {
  padding: 25px 25px 0px 25px;
}

.guest-account button {
  background: #098716;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 200px;
  font-size: 18px;
}

.guest-account button:hover {
  color: #0c0;
}
/*modal-form*/


/**/
