/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 'star-rating' component */

 .rating {
   unicode-bidi: bidi-override;
   direction: rtl;
   text-align: left;
 }
 .rating > span {
   display: inline-block;
   position: relative;
   width: 1.1em;
 }
 .rating > span:hover:before,
 .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
 }
 .rating > span:click:before,
 .rating > span:click ~ span:before {
    content: "\2605";
    position: absolute;
 }
