<h1>New Post</h1>

<form>

  <label for="description">Description</label>
  <input id="description" type="text" name="description">

  <br>
  <label for="location">Location</label>
  <input id="location" type="text" name="location">

  <br>
  <label for="food_id">Food ID</label>
  <input id="food_id" type="text" name="food_id">

  <br>
  <label for="price">Price</label>
  <input id="price" type="text" name="price">

  <br>
  <label for="score_id">Score</label>
  <input id="score_id" type="text" name="score_id">

  <br>
  <button>Submit</button>

</form>
