<h1>Posts</h1>

<h2>Menu</h2>
<ul>

  <li>
    <a href="<%= '#posts/new' %>">Write Post</a>
  </li>

  <li>
    <a href="<%= '#' %>">Trends</a>
  </li>

  <li>
  Friends
    <ul>

    <% _.each(LsFinalproject.current_user_friends, function(friend) { %>
        <li>
          <a href="#users/<%=friend.id%>"><%= friend.first_name + ' ' + friend.last_name %></a>
          INSERT PICTURE HERE
        </li>
    <% }) %>
  </ul>
  </li>

</ul>
